@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Merienda:wght@600&family=Lato&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

@keyframes textAnimation {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(180deg);
  }
}

.scroll-container::-webkit-scrollbar {
  width: 0.5em;
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.scroll-container {
  padding-right: 10px;
  overflow-y: scroll;
}

.clip-path-circle{
  width: 100%;
  height: 450px;
  background-color: #DD9915;
  opacity: 40%;
  clip-path: circle(400px at 100% 100%);
}
