@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Merienda:wght@600&family=Lato&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.loader-circle {
  animation: bounce 1000ms ease-out infinite;
}

.loader-circle-1 {
  animation-delay: 0ms;
}

.loader-circle-2 {
  animation-delay: 300ms; /* Adjust the delay as needed */
}

.loader-circle-3 {
  animation-delay: 600ms; /* Adjust the delay as needed */
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(2px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(-2px);
  }
}

@keyframes textAnimation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(180deg);
  }
}

.scroll-container::-webkit-scrollbar {
  width: 0.5em;
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.scroll-container {
  padding-right: 10px;
  overflow-y: scroll;
}

.clip-path-circle {
  width: 100%;
  height: 450px;
  background-color: #dd9915;
  opacity: 40%;
  clip-path: circle(400px at 100% 100%);
}

/* Showcase Slider animation */
.track {
  will-change: transform;
  animation: marquee 5s linear infinite;
}

.opposite-track {
  will-change: transform;
  animation: opposite-marquee 5s linear infinite;
}

.track:hover {
  animation-play-state: paused;
}

.opposite-track:hover {
  animation-play-state: paused;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-30%);
  }
}

@keyframes opposite-marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(30%);
  }
}

/* laptop css */

.laptop {
  position: relative;
  margin: auto;
  width: 100%;
}

.laptop__screen {
  position: relative;
  width: 100%;
  height: 70vh;
  z-index: 1;
  padding: 3%;
  border-radius: 2rem;
  background: #f9fafc;
  background-image: linear-gradient(to bottom, #333, #111);
  box-shadow: 0 0.1rem 0 #e0a939;
  border: 2px solid #dd9915;
}

.laptop__screen .showcase__container {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, #ffffff, #ffffff);
}

.laptop__bottom {
  position: relative;
  z-index: 1;
  margin-right: -7%;
  margin-left: -7%;
  height: 0.7rem;
  background: #e9eff5;
  background-image: linear-gradient(
    to right,
    #d2dde9 0%,
    #f9fcff 15%,
    #e5ebf2 40%,
    #e5ebf2 60%,
    #f9fcff 85%,
    #d2dde9 100%
  );
}

.laptop__bottom::before {
  display: block;
  margin: 0 auto;
  width: 20%;
  height: 0.7rem;
  border-radius: 0 0 0.2rem 0.2rem;
  background: #f6f9fc;
  background-image: linear-gradient(
    to right,
    #c3cfdb 0%,
    #f6f9fc 10%,
    #f6f9fc 90%,
    #c3cfdb 100%
  );
  content: " ";
}

.laptop__under {
  position: absolute;
  top: 100%;
  left: 25%;
  display: block;
  width: 50%;
  height: 1.5rem;
  background: #e2e8f0;
  background-image: linear-gradient(to bottom, #dd9915, #f3b22f);
}

.laptop__under::after,
.laptop__under::before {
  position: absolute;
  top: 0%;
  right: 100%;
  bottom: 0;
  display: block;
  width: 50%;
  border-bottom-left-radius: 100%;
  background: inherit;
  content: " ";
}

.laptop__under::after {
  right: auto;
  left: 100%;
  border-bottom-right-radius: 100%;
  border-bottom-left-radius: 0;
}

.laptop__shadow {
  position: absolute;
  right: -10%;
  bottom: -2.5rem;
  left: -10%;
  z-index: 0;
  height: 2rem;
  background: radial-gradient(ellipse closest-side, #000, transparent);
  opacity: 0.5;
}

.recommendation-Card {
  clip-path: polygon(28% 0, 100% 1%, 100% 81%, 0% 100%);
  border: 2px solid #000;
  border-radius: 15px;
}

/* Date Picker */
.calendar-div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.date-by-month {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}

.date-table {
  width: max-content;
  padding: 12px;
  border-radius: 6px;
}

.table-head {
  padding: 10px;
}

.selected {
  background-color: orange;
  border-radius: 5px;
}

/* Shadow neon */
.shadow-neon:hover {
  box-shadow: 0 0 10px 4px rgba(29, 78, 216, 0.5);
  /* Adjust the shadow color and size as needed */
}

.gradient-circle {
  background: radial-gradient(
    circle at 50% 50%,
    rgba(83, 197, 203, 0.4) 1%,
    rgba(240, 247, 255, 1) 55%,
    rgba(240, 247, 255, 1) 100%
  );
}

.radial-gradient1{
  background: radial-gradient(circle, rgba(252, 253, 253, 0.8) 20%, rgba(246,213,142,0.1) 100%);
}

  .blogCard::before{
    box-sizing: border-box;
    content: "";
    z-index: 1;
    position: absolute;
    top: 10px;
    left: 15px;
    bottom: 20px;
    right: 10px;
    display: block;
    width: 270px;
    height: 380px;
    border-top: 2px solid #00917c;
     border-bottom: 2px solid #00917c;
    transform: scale(0, 1);
    transition: transform 0.4s ease-out;
    opacity: 0;
  }
  .blogCard::after{
    box-sizing: border-box;
    content: "";
    z-index: 1;
    position: absolute;
    top: 10px;
    left: 15px;
    bottom: 20px;
    right: 10px;
    display: block;
    width: 270px;
    height: 380px;
    border-left: 2px solid #00917c;
    border-right: 2px solid #00917c;
    transform: scale(1, 0);
    transition: transform 0.4s ease-out;
    opacity: 0;
  }
  .blogCard:hover::before{
    opacity: 1;
    transform: scale(1.05, 1);
  }
  .blogCard:hover::after{
    opacity: 1;
    transform: scale(1, 1.05);
  }
